.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    padding-top:6px ;
    padding-bottom: 6px;
}

.header a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover{
    transition: all 0.3s;
    color: orange;

}

.header img{
    width: 70px;
}



@media screen and (max-width: 710px)  {
    .header{
        flex-direction: column;
        padding: 15px;
    }
    .design{
        display: flex;
        flex-direction: column;
    }

    .header a{
        padding: 15px;
    }


    
    
}

